@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Montserrat, sans-serif;
    background: #e5e5e5;
    -webkit-font-smoothing: antialiased;
    color: #25282b;
}

p {
    font: 400 14px Montserrat, sans-serif;
    margin: 5%;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

h2 {
    font: 700 Roboto, sans-serif;
}

h1 {
    color: #00909e;
}

a {
    font: 500 18px Montserrat, sans-serif;
    color: #00909e;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    filter: brightness(80%);
}

button {
    width: 50%;
    height: 60px;
    background: none;
    border: 0;
    border-radius: 8px;
    color: #00909e;
    font-weight: 700;
    margin-top: 16px;
    margin-right: 1px;
    margin-left: 30px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-decoration: underline;
    text-decoration-color: #00909e;
}

footer {
    color: #777;
    margin-left: 180px;
}

footer a {
    opacity: 1;
}


/* modal - popup */

#modal {
    background-color: #27496d;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin-top: 5%;
    color: white;
}

#modal .content h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

#modal.hide {
    opacity: 2;
    visibility: hidden;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(141, 25, 1, 0.5);
    outline: none;
    font-size: 16px;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {
    width: 150px;
    height: 40px;
    background-color: #ffffff22;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    transition: 400ms;
}

form a:hover {
    background-color: #0984e3;
    color: white;
    text-decoration: none;
}